
SwiftUI-Base-Tutorial.xcodeproj/project.xcworkspace/xcuserdata/serkanmalagic.xcuserdatad/UserInterfaceState.xcuserstate
SwiftUI-Base-Tutorial.xcodeproj/project.xcworkspace/xcuserdata/serkanmalagic.xcuserdatad/UserInterfaceState.xcuserstate
SwiftUI-Base-Tutorial.xcodeproj/project.xcworkspace/xcuserdata/serkanmalagic.xcuserdatad/UserInterfaceState.xcuserstate
